<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Stripe Payment:smart checkout flows</title>
  <meta  name="description" content="Build beautiful, smart checkout flows.">
  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="icon" href="img/apple-touch-icon/180x180.png">
</head>
<body>
<section style="min-height:100vh; text-align:center;"><div style="margin-top:200px;float:left;width:100%;"><h1>PAGE NOT FOUND</h1></div></section><div class="empty-box"></div>

</body>
</html>
