<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Stripe Payment:smart checkout flows</title>
  <meta  name="description" content="Build beautiful, smart checkout flows.">
  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="icon" href="img/apple-touch-icon/180x180.png">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="globalContent">
    <main>
      
    <section class="container-lg">
      <h1 style="text-align: center;font-size: 26px;">Stripe Single Payment Checkout</h1>
      <div class="cell example example3">
        <div>
          <div class="fieldset">
            <input id="example3-name" data-tid="elements_examples.form.name_label" class="field" type="text" placeholder="Name" required="" autocomplete="name">
            <input id="example3-email" data-tid="elements_examples.form.email_label" class="field half-width" type="email" placeholder="Email" required="" autocomplete="email">
            <input id="example3-phone" data-tid="elements_examples.form.phone_label" class="field half-width" type="tel" placeholder="Phone" required="" autocomplete="tel">
          </div>
          <div class="fieldset">
            <div id="example3-card-number" class="field empty"></div>
            <div id="example3-card-expiry" class="field empty third-width"></div>
            <div id="example3-card-cvc" class="field empty third-width"></div>
            <input id="example3-zip" data-tid="elements_examples.form.postal_code_placeholder" class="field empty third-width" placeholder="94107">
          </div>
          <button type="submit" data-tid="elements_examples.form.pay_button" data-price ="25" onclick="singlePayment(this)">Pay $25</button>
            <span class="message" id ="card-errors"></span>
            <div id="data">
            </div>
        </div>
      </div>
      <button"><a style="text-align: center;padding-left: 175;font-size: 26px;" href="/">Go to Subscription Payment</a></button>
    </section>
    </main>
  </div>
  <script  src="/js/jquery-3.3.1.min.js"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="/js/single.js"></script>
</body>
</html>
